body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #100000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.calculadora {
  background: #363636;
  padding: 1.1rem;
  border-radius: 25px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  width: 250px;
  max-width: 280px;
}

.pantalla {
  background: #222;
  color: rgba(9, 255, 0, 0.724);
  font-size: 2.5rem;
  text-align: right;
  padding: 1rem;
  border-radius: 10px;
  margin-bottom: 1rem;
  word-wrap: break-word;
  min-height: 60px;
}

.btn {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  transition: 0.5s;
}

.btn1{
    transition: 0.5s;
}

.btn1:hover {
    transform:scale(1.1) ;
    transition: 0.5s;
}

button {
  padding: 1rem;
  font-size: 1.5rem;
  border: none;
  border-radius: 10px;
  background-color: #0000009b;
  transition: background-color 0.2s;
}

button:active {
  background-color: #dcdcdc;
}

button:nth-child(4n) {
  background-color: #790000e9;
}

button:nth-child(1n):hover {
  background-color: #55555558;
}

button:nth-child(4n):hover {
  background-color: #ff0000a4;
}
